html,body{
	margin: 0;
	font-family: 'Roboto Slab', Courier, monospace
}

a{
	cursor: pointer;
}

#container{
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
}


#donald-mag{
	display: inline-block;
	max-width: 600px;
	width: 100%;
	height: auto;
}

#main{
	text-align: left;
	margin: 40px 20px 20px 20px;
}

h1{
	text-align: center;
	margin: 0px auto 40px auto;
	font-size: 1.5em;
}

#donation-total{
	font-size: 4em;
	text-align: center;
	display: block;
}

#donation-subtitle{
	font-size: 1em;
	text-align: center;
	display: block;
}

p.question{
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0px;
	margin-top: 30px;
}

span.quote-tweet{
	color: #3a3939;
	font-style: italic;
}

li{
	list-style: none;
	margin-bottom: .3em;
}


@media (max-width: 600px) {
	#container {
    	margin-top: 0px;
  }
}